<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="/static/css/materialize.min.css">
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/css/index_style.css">
	<title>Prastuti</title>
</head>
<body>

    <!-- Navigation Bar -->
    <nav>
        <div class="nav-wrapper blue-grey darken-2">
                <a href="#!" class="brand-logo"><span class="logo logoText valign-wrapper"><img src="static/images/bhuLogo3.png"/>Prastuti'18</span></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#about">About Us</a></li>	
                    <li><a href="#">Register/Login</a></li>
                    <li><a href="#events">Events</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="#about">About Us</a></li>	
                    <li><a href="#">Register/Login</a></li>
                    <li><a href="#events">Events</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
      </nav>

      <!-- HERO SECTION -->
      <div class="parallax-container valign-wrapper">
        	<div class="container">
        		<div class="row">
        			<div class="col l8 s12 white-text">
        				<h4 class="thin-text left-align valign">All India Paper Presentation Event, Department Of Electrical Engineering, IIT-BHU</h4>
        			</div>
        		</div>
        		<div class="row">
        			<div class="col l4">
        				<a class="waves-effect btn-large hoverable red accent-2">Register</a>
        			</div>
        		</div>
        	</div>
      		<div class="parallax"><img src="static/images/laptop_cup_glasses.jpg"></div>
        </div>
        
        <!-- ABOUT US SECTION -->
        <div id="about" class="container">
            <div class="row">
                <h2 class="section-header">About Us</h2>
                <p>Prastuti, the All India Paper
                        Presentation event, is the fest of the
                        Department of Electrical Engineering, IIT-BHU
                        and it takes pride in being the
                        longest running departmental fest in
                        the institute. Started in 2001,
                        Prastuti has, over the years,
                        witnessed participants from across
                        the country and a host of renowned
                        personalities as invited guests.
                        Colleges from as far as Kerala and
                        Himachal Pradesh continue to take
                        part in this prestigious event, which
                        attracts participation of over 700
                        students each year. Apart from Paper
                        Presentation, this fest covers myriad events across domains,
                        pertaining to the field of electrical
                        engineering.</p>
            </div>
        </div>

        <div class="container">
            <div class="divider"></div>
        </div>

        <!-- EVENTS SECTION -->
        <div id="events" class="container">
            <div class="row">
                <h2 class="section-header">Events</h2>
                <div class="row">
                    <!-- PAPER PRESENTATION -->
                    <div class="col l3 m8 s8">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="static/images/paperpresent.png">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Paper Presentation<i class="material-icons right">more_vert</i></span>
                                <p><a href="#">View Event Structure</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Paper Presentation<i class="material-icons right">close</i></span>
                                <p>A research paper analyzes a
                                        perspective or argues a point. So,
                                        this event aims to bring to the fore,
                                        the ideas that could change things
                                        for the better and to exchange views
                                        on that idea with others.
                                        Regardless of the type of research,
                                        you are up to, your finished research
                                        paper should present your own
                                        thinking backed up by others' ideas
                                        and information. </p>
                            </div>
                        </div>
                    </div>

                    <!-- POSTERIZE -->
                    <div class="col l3 m8 s8">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="static/images/posterize.png">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Posterize<i class="material-icons right">more_vert</i></span>
                                <p><a href="#">View Event Structure</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Posterize<i class="material-icons right">close</i></span>
                                <p>Posters are legitimate and popular
                                        presentation format for research.
                                        Research posters summarize
                                        information or research concisely and
                                        attractively to help publicize it and
                                        generate discussion. The poster is
                                        usually a mixture of a brief text
                                        mixed with tables, graphs, pictures,
                                        and other presentation formats.</p>
                            </div>
                        </div>
                    </div>

                    <!-- CONSILIUM -->
                    <div class="col l3 m8 s8">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="static/images/consilium.png">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Consilium<i class="material-icons right">more_vert</i></span>
                                <p><a href="#">View Event Structure</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Consilium<i class="material-icons right">close</i></span>
                                <p>Nowadays, we are surrounded by
                                        plethora of digital circuits. From
                                        smartphones to smartwatch. Digital
                                        circuits has become a part and parcel
                                        of life and is growing day by day. So
                                        knowledge of circuit design and its
                                        working is important to get to know
                                        the heart of it. But designing is not a
                                        skill that can be learnt from
                                        textbooks. It needs to be learnt by
                                        experience and wishful thinking. It
                                        requires proper ‘Consilium’ and a
                                        clear head for incisive planning.
                                        Through our event, we plan to test a
                                        person's ability to think on their feet
                                        and meticulously design electric
                                        circuits with meagre resources, hence
                                        the name ‘CONSILIUM’.</p>
                            </div>
                        </div>
                    </div>

                    <!-- SIMULIM -->
                    <div class="col l3 m8 s8">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="static/images/simulim.png">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Simulim<i class="material-icons right">more_vert</i></span>
                                <p><a href="#">View Event Structure</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Simulim<i class="material-icons right">close</i></span>
                                <p>Simulim is the event which introduces
                                        you to the basic world of simulation
                                        and explains the need of
                                        simulation in Electrical Engineering.
                                        The idea acquired during the basic
                                        simulations would help to design
                                        and develop many circuits and analyse
                                        them using advanced simulation
                                        techniques.
                                        Simulink of MATLAB would be used
                                        for the event as a standard.</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <!-- RECOGNIZANCE -->
                    <div class="col l3 m8 s8">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="static/images/recognizance.png">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Recognizance<i class="material-icons right">more_vert</i></span>
                                <p><a href="#">View Event Structure</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Recognizance<i class="material-icons right">close</i></span>
                                <p>Machine Learning is the science of
                                        getting computers to learn and act
                                        like humans do, and improve their
                                        learning over time in autonomous
                                        fashion, by feeding them data and
                                        information in the form of
                                        observations and real-world
                                        interactions.</p>
                            </div>
                        </div>
                    </div>

                    <!-- IDP -->
                    <div class="col l3 m8 s8">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="static/images/idp.png">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">IDP<i class="material-icons right">more_vert</i></span>
                                <p><a href="#">View Event Structure</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">IDP<i class="material-icons right">close</i></span>
                                <p>Industry Defined Problem or IDP is an
                                        event where one can get acquainted
                                        with real-life industrial problems,
                                        how they work, the problems faced by
                                        them and simultaneously device an
                                        effective real-life solution that can
                                        be materialized. This event provides
                                        opportunities for those thriving
                                        minds which look for another way
                                        around state-of-the-art technologies.
                                        This event provides an opportunity
                                        for many groundbreaking ideas and
                                        designs as participants come up with
                                        unique ways to provide convoluted
                                        solutions to highly complex
                                        problems.</p>
                            </div>
                        </div>
                    </div>

                    <!-- CODIGO -->
                    <div class="col l3 m8 s8">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="static/images/codigo.png">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Codigo<i class="material-icons right">more_vert</i></span>
                                <p><a href="#">View Event Structure</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Codigo<i class="material-icons right">close</i></span>
                                <p>Codigo is a coding event based on the
                                        format of competitive programming.
                                        The motive for this event is to
                                        explore the area of programming
                                        which deals with problem solving
                                        through logical, mathematical and
                                        reasoning skills.</p>
                            </div>
                        </div>
                    </div>

                    <!-- QUIZZARD -->
                    <div class="col l3 m8 s8">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="static/images/quizzard.png">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Quizzard<i class="material-icons right">more_vert</i></span>
                                <p><a href="#">View Event Structure</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Quizzard<i class="material-icons right">close</i></span>
                                <p>This event will test your knowledge in
                                        subjects related to electrical domain
                                        and general aptitude
                                        The participants will be facing
                                        interesting Questions from the field
                                        of Electrical Circuits, Inventions etc.</p>
                            </div>
                        </div>
                    </div>
                        

                </div>
            </div>
        </div>
        
        <!--  CONTACT US SECTION -->
        <div id="contact" class="container">
            <div class="divider"></div>
        </div>
        <div class="container">
            <div class="row">
                <h2 class="section-header">Contact Us</h2>
                <p>Scapegoats still to be decided! ;)</p>
            </div>
        </div>

        <!-- Page Footer -->
        <footer class="page-footer blue-grey darken-3">
            <div class="footer-copyright blue-grey darken-4">
                <div class="container">
                    <p>&copy; 2018 Copyright Prastuti : IIT-BHU, All Rights Reserved</p>
                    <a href="#" class="grey-text text-lighten-4 right">Privacy Policy</a>
                </div>
            </div>
        </footer>

	<script src="/static/js/jquery-3.2.1.min.js"></script>
  	<script src="/static/js/materialize.min.js"></script>
	<script src="/static/js/index_scripts.js"></script>
</body>
</html>